<h1>Region</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Latitude</th>
            <td>{{ entity.latitude }}</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <td>{{ entity.longitude }}</td>
        </tr>
        <tr>
            <th>Province_id</th>
            <td>{{ entity.provinceid }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('region') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('region_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('region_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
